body{
    font-family: sans-serif;
    background-color: #a000fd;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 8px 100px rgb(0, 255, 76) ;
    width: 300px;
}

form {
    display: 10px;
    flex-direction: column;
    gap: 10px;
}
input, button{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button{
    background-color: rgb(255, 255, 255), rgb(0, 0, 0);
    color: rgb(0, 0, 0), rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: rgb(0, 0, 0);
}
ul{
    list-style: none;
    padding: 0;
}

li{
    background: #eee;
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    display: flax;
    justify-content: space-between;

}
h1{
    font-variant: unset;
}